<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.audio.tripler">
		<category id="subscriber account" label="30010" help="">
			<group id="1">
				<setting id="use-account" type="boolean" label="30011" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="username" type="string" label="30012" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="use-account">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30012</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="30013" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="use-account">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30013</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="hide-login-msgs" type="boolean" label="30014" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="use-account">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
